*{
    box-sizing: border-box;
}

body{
    background-color: #F1F1F1;
    position: relative;
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    justify-content: space-between;
    box-shadow: 0px 4px 3px #c7c7cc;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

header img{
    width: 75px;
    height: 53px;
    margin-left: 10px;
}

header ion-icon{
    font-size: 50px;
    margin-right: 10px;
}

main{
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #F1F1F1;
}

main div{
    margin-top: 8px;
}

main p{
    font-family: Roboto;
    font-size: 14px;
}

main span{
    color: #AAAAAA
}

main strong{
    font-weight: 700;
}

main .servidor{
    border: 10px solid #DCDCDC;
    background-color: #DCDCDC;
}

main .reservada{
    border: 10px solid #FFDEDE;
    background-color: #FFDEDE;
}

main .publica{
    border: 10px solid #FFFFFF;
    background-color: #FFFFFF;
}

footer{
    width: 100%;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 3px #c7c7cc;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    z-index: 100;
}

footer ion-icon{
    font-size: 40px;
    margin-right: 10px;
}

ion-icon:hover{
    cursor: pointer;
    color: gray;
}

footer input{
    border: none;
    font-family: Roboto;
    color: black;
    font-size: 20px;
    margin-left: 10px;
}

.tudo{
    position: relative;
}

.opaco{
    background-color: black;
    opacity: 40%;
    z-index: 1000;
}

aside{
    width: 60%;
    height: 100vh;
    background-color: #FFFFFF;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10000;
}

aside ul li{
    font-family: Roboto;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

aside ul li div{
    display: flex; 
    align-items: center;
}

aside li:hover{
    cursor: pointer;
}

aside li p:hover{
    cursor: pointer;
    color: gray;
}

aside ion-icon{
    font-size: 20px;
}

aside .check{
    display: none;
    color: #28BB25;
}

aside .PessoaEscolhida{
    display: block;
}

aside .TipoEscolhido{
    display: block;
}

aside li div ion-icon{
    color: black;
}

aside h3{
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin: 20px 10px;
}

.esconde{
    display: none;
}

.tela_inicial{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.tela_inicial img{
    position: absolute;
    width: 130px;
    height: 92px;
    top: 50px;
}

.tela_inicial input{
    width: 261px;
    height: 54px;
    text-align: center;
}

.tela_inicial button{
    margin-top: 40px;
    width: 110px;
    height: 45px;
    background-color: #E7E7E7;
    color: #696969;
    border: none;
    border-radius: 9px;
}